<div class="mt-8 gap-4 flex justify-center w-full"> 
    <div class="min-w-fit">
        <!--  -->
        {{#if searched}} 
            {{#if this.profpic}}
             <img src="{{this.profpic}}" alt="Profile Icon" class="rounded-[2rem] h-12 w-12">
             {{else}}
              <img src="../images/profile-icon.png" alt="Profile Icon" class="rounded-[2rem] h-12 w-12">
            {{/if}}
        {{else}}
            {{#if this.profImgSrc}}
                <img src="{{profImgSrc}}" alt="Profile Icon" class="rounded-[2rem] h-12 w-12">
            {{else}}
                <img src="../images/profile-icon.png" alt="Profile Icon" class="rounded-[2rem] h-12 w-12">
            {{/if}}
        {{/if}}
    </div>
    <div class="flex flex-col gap-y-1 text-sm text-neutral-400 w-full">
        <div class="flex overflow-hidden">
            {{#if searched}}
                 <p><a href="/profile?username={{user.username}}" class="hover:text-white hover:underline">{{user.username}}</a> posted a review for
                    <a href="establishment?building={{this.buildingName}}" class="text-secondary">
                        {{this.buildingName}}, 
                        Floor {{this.floor}},
                        {{this.gender}}
                    </a>
                </p>

            {{else}}
                 <p><a href="/profile?username={{user.username}}" class="hover:text-white hover:underline">{{user.username}}</a> posted a review for
                    <a href="establishment?building={{this.restroomID.buildingID.name}}" class="text-secondary">
                        {{this.restroomID.buildingID.name}}, 
                        Floor {{this.restroomID.floor}},
                        {{this.restroomID.gender}}
                    </a>
                </p>
            {{/if}}

            <p class="w-fit ml-auto">{{this.dateCreated}}</p>
        </div>       
        <div class="text-white mt-1">
            {{this.title}}
        </div>
        <div class="mt-1">
            {{!-- Display toilet paper icons based on the rating --}}
            {{#times this.rating}}
                <i class="fa-solid fa-toilet-paper fa-rotate-270" style="color: #f5cb5c;"></i>
            {{/times}}
        </div>
        <div class="text-white mt-1">
            {{this.content}}
        </div>
        <div class="flex gap-2">
            {{#each this.amenities}}
                <span class="px-1 bg-gray-400 text-gray-900 rounded">{{this}}</span>
            {{/each}}
        </div>

        {{!--Image --}}
        {{#if this.photoSrc}}
            <div>
                <img src="{{this.photoSrc}}" alt="Review Photo" class="w-24 h-24 rounded-lg mt-4">
            </div>
        {{/if}}

        {{#if this.isEdited}}
            <p class="text-xs">(edited)</p>
        {{/if}}

        {{!-- {{#if }} shows only when a user is logged in--}}
        <div class="flex mt-1 gap-x-5 reactions">
            <button class="fa-regular fa-thumbs-up like-button"data-review-id="{{this._id}}" ></button> {{this.cleanCount}} 
            <button class="fa-regular fa-thumbs-down dislike-button" data-review-id="{{this._id}}"></button> {{this.disgustingCount}}            
        </div>
        {{!-- {{/if}} --}}

        {{#if modifiable}}
            {{#if currentUser}}
            <div class="flex mt-1 gap-x-5">
                <a href="edit-review?reviewId={{this._id}}" class="hover:opacity-80"><i class="fa-solid fa-pencil"></i> Edit Review</a>
                <button class="hover:opacity-80 delete" data-review-id="{{this._id}}">
                    <i class="fa-solid fa-trash-can"></i> Delete Review
                </button>   
            </div>
            {{/if}}
        {{/if}}

        <!-- Input to indicate the id of this review -->
        <input type="hidden" value="{{this._id}}" name="reviewID" class="review-id">

        {{#if ownerView}}
            <!-- Show reply button if logged in and in a page that can be replied -->
            <!-- ONLY SHOW REPLY BUTTON IF YOU ARE THE OWNER OF THE ESTABLISHMENT -->
            <div class="flex mt-1 gap-x-5">
                <button class="reply-btn hover:opacity-80" data-review-id="{{this._id}}">
                    <i class="fa-solid fa-reply"></i>
                    Reply
                </button>
            </div>
        {{/if}}

        <div id="reply-container-{{this._id}}" class="create-reply-container hidden mt-2 min-w-1/2 max-w-80">
            <textarea name="reply" id="reply-text-{{this._id}}" class="reply-text-container rounded-md p-2" cols="35" rows="5" placeholder="Type your reply here..."></textarea>
            <div class="flex mt-2 gap-x-5">
                <div class="flex gap-x-2 justify-center items-center">
                    <button type="submit"  class="post-reply-btn hover:opacity-80" data-review-id="{{this._id}}" data-user-id="{{user._id}}">
                        <i class="fa-regular fa-paper-plane"></i>
                        Post
                    </button>
                </div>
                <div class="flex gap-x-2 justify-center items-center">
                    <button class="cancel-reply-btn hover:opacity-80" data-review-id="{{this._id}}">
                        <i class="fa-solid fa-x"></i>
                        Cancel
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Each reply container is tied to that review via the review id -->
        <div id="replies-container-{{this._id}}" class="replies-container w-98% ml-auto">

        </div>


    </div>  
    <script src="js/review-actions.js"></script>
</div>
