<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <style>@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap';</style>
    <script src="https://kit.fontawesome.com/defd36cc33.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body class="font-primary text-white bg-primary">

    <!-- START OF MAIN CONTENT -->
    <div class="h-screen bg-cover bg-center overflow-hidden bg-fixed" style="background-image:url('./images/henry_sy-bg.jpg');">
        <div class="h-screen w-screen backdrop-grayscale overflow-hidden">
            <div class="m-auto h-auto bg-black/75 mt-32 w-3/5 rounded-[1.5rem] overflow-auto mb-12">
                <div class="flex h-full">
                    <div class="flex flex-col w-1/2 h-auto items-center justify-center -mt-24">
                        <div class="mt-5 ">
                            <i class="fa-solid fa-toilet fa-2xl text-white"></i>
                        </div>
                        <div class="mt-4 justify-center justify-items-center text-center">
                            <span class="font-bold text-3xl">Sign up to</span><br>
                            <span class="text-3xl font-medium">  Flush Finder</span> 
                        </div>
                    </div>
                    <div class="mt-6 w-1/2 pr-10">
                        <form action="/usersignup" method="post">
                           <div> <!-- Remember to edit as grid-->
                                <div>
                                    <label for="firstname">First Name</label><br>
                                    <input class="focus:bg-white pl-2 focus:text-black w-full h-9 bg-transparent border-[2px] border-gray-500 rounded" type="text" name="firstname" id="firstname" placeholder=" First Name" value="{{firstname}}" required><br>
                                </div>
                                <div class="mt-3 ">
                                    <label for="lastname">Last Name</label><br>
                                    <input class="focus:bg-white pl-2 focus:text-black w-full h-9 bg-transparent border-[2px] border-gray-500 rounded" type="text" name="lastname" id="lastname" placeholder=" Last Name" value="{{lastname}}" required><br>
                                </div>
                                <div class="mt-3 ">
                                    <label for="username">Username</label><br>
                                    <input class="focus:bg-white pl-2 focus:text-black w-full h-9 bg-transparent border-[2px] border-gray-500 rounded" type="text" name="username" id="username" placeholder=" @username" value="{{username}}" required><br>
                                </div>
                                <div class="mt-3 ">
                                    <label for="email">Email</label><br>
                                    <input class="focus:bg-white pl-2 focus:text-black w-full h-9 bg-transparent border-[2px] border-gray-500 rounded" type="text" name="email" id="email" placeholder=" sample@email.com" value="{{email}}" required><br>
                                </div>
                                <div class="mt-3 ">
                                    <label for="password">Password</label><br>
                                    <input class="focus:bg-white pl-2 focus:text-black w-full h-9 bg-transparent border-[2px] border-gray-500 rounded" type="password" name="password" id="password" placeholder="8 or more characters" required><br>
                                </div>
                            </div>
                            <div class="mt-10 text-center">
                                <button type="submit" class="border-[2px] hover:text-black border-white rounded-md border-w hover:bg-secondary hover:border-secondary py-2 px-5">Sign up</button>
                            </div>
                              {{#if error}}
                                    <div class="mt-3 text-red-600 text-center">
                                        {{error}}
                                    </div>
                              {{/if}}
                        </form>     
                        <div class="text-xs text-center mt-6 mb-8 font-thin">
                                Already have an account? <a class="text-secondary hover:underline" href="login">Login</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>