<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>Search for a Review</title>
        <link rel="stylesheet" href="css/select-restroom.css">
        <script src="https://kit.fontawesome.com/defd36cc33.js" crossorigin="anonymous"></script>
      </head>
    <body>
        <div class="h-80-screen bg-primary">
        <!-- First Section of the Paage -->
            <div class="search-container">
                <span class="makereview-title">Make a <span style="color: #F5CB5C;">review</span>, make someone<span style="color: #F5CB5C;"> comfy</span></span>
                <span class="makereview-subtitle">Stories like yours are what helps flushers have better comfort. Share your experience and help out a fellow flusher!</span>
                <h1>{{test.name}}</h1>

                <form action="/find-restroom" method="get">
                    <label for="building" class="text-white font-semibold">Building:</label>
                    <select name="building" id="building" class="mr-4">
                        <!-- Generate this dynamically -->
                        {{#each buildingNames}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <label for="floor" class="text-white font-semibold">Floor:</label>
                    <select name="floor" id="floor" class="mr-4">
                        <!-- generate this dynamically -->
                        {{#each buildingFloors}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <label for="gender" class="text-white font-semibold">Gender:</label>
                    <select name="gender" id="gender" class="mr-4">
                        <!-- Generate this dynamically -->
                        <option value="FEMALE">Female</option>
                        <option value="MALE">Male</option>
                    </select>
                    <button class="bg-secondary" type="submit">Search</button>
                </form>
                
            </div>
        </div>
        <script src="js/select-restroom.js"></script>
    </body>
</html>